# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

* Python 
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python 
* Matplotlib
* Scikit-learn
* Keras
* Tensorflow
* Numpy 

2. R
* ggplot 
* ddstring

## Data Science Tools
* Jupyter Notebook
* My SQL

# Arithmetic Expression Examples

In [ ]:
1+1
2*2

In [ ]:
# Convert minutes to hours 
min = 70
convert_hours : 
    a= 70/60 

hours = convert_hours(min)

## Objectives 
1. Learn Markdown in Jupyter Notebook 
2. Multiply numbers 
3. Add numbers

Morgane LG